*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-container{
    height: 75px;
    width: 675px;
    outline: 2px solid rgb(0, 0, 0);
    display: flex;
}
.column-left, .column-right{
    width: 270px;
    height:675px;
  
}
.column-middle{
    width: 135px;
    /* border: 2px solid red; */
}
.home{
    width: 270px;
    height: 270px;
    /* border: 2px solid black; */
    padding: 45px;
}

.home .rooms{
    /* border: 2px solid red; */
    width: 180px;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 

    
}
.room{

 /* border: 3px solid red; */
 /* border-radius: 50%; */
 height: 90px;
 width: 90px;   

 /* margin: 100px; */
}
.room div{
    height: 45px;
    width: 45px;
    margin: 20px;
    /* border: 4px solid red; */
    border-radius: 50%;
}
.column-left .home{

}
.road-left{
    height: 135px;
    width: 270px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
}
.top-road, .middle-road, .bottom-road{
    height: 45px;
    width: 270px;   
    /* border: 2px solid black; */
    display: flex;
}

.box{
    height: 45px;
    width: 45px;
    border: 1px solid black;
}
.win{
    height:135px ;
    width:135px ;
    border: 2px solid black;
    border-top: 67.5px solid green;
    border-left: 67.5px solid red;
    border-bottom: 67.5px solid blue;
    border-right: 67.5px solid yellow;
}
.road-right{
    height: 270px;
    width: 135px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.bgc{
    background-color: #CCC;
}


.normal{
    background-color: #f07485;
}
.border-red{
    border: 4px solid red;
}
.border-blue{
    border: 4px solid blue;
}
.border-green{
    border: 4px solid green;
}
.border-yellow{
    border: 4px solid yellow;
}
.star{
    font-size: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
}